/*Base css*/

@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i|Zilla+Slab:300,300i,400,400i,500,500i,600,600i,700,700i');
a:focus,
input:focus,
textarea:focus,
button:focus {
    outline: 0 solid;
}

a:link,
a:hover,
a:visited {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Zilla Slab', serif;
    margin: 0 0 15px;
    font-weight: 700;
    color: #000;
    line-height: 1.3;
}

body {
    font-family: 'Noto Sans', sans-serif;
    color: #888888;
    line-height: 1.8;
}

.section-padding {
    padding: 80px 0;
}

.slide-bg-1 {
    background: url(../assets/img/slide-01.jpg);
}

.service-bg:before {
    background-image: url(../assets/img/service-bg.jpg);
}

.header-area a {
    color: #333;
    font-size: 16px;
    font-family: 'Zilla Slab', serif;
    font-weight: 700;
}

.header-area.header-absolute,
.header-area .search-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
}

.header-area.header-absolute a,
.header-area.header-absolute .search-icon {
    color: #fff;
}

.logo {
    font-size: 20px;
    font-weight: 700;
    margin-top: 13px;
}

.search-icon {
    margin-top: 15px;
    display: inline-block;
}

.mainmenu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.mainmenu li {
    display: inline-block;
    position: relative;
}

.mainmenu li a {
    display: block;
    padding: 16px;
}

.single-slide-item {
    position: relative;
    z-index: 1;
    background-size: cover;
    background-position: center;
    background-color: #333;
}

.single-slide-item:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: -1;
    opacity: .66;
}

.owl-carousel .owl-item .slide-text img {
    display: inline-block;
    width: auto;
}

.slide-text {
    padding: 160px 0;
}

.slide-text,
.slide-text a {
    color: #fff;
    font-size: 16px;
}

.slide-text h2 {
    color: #fff;
    font-size: 60px;
}

.slide-text h2 span {
    font-weight: 300;
    font-style: italic;
}

.video-btn {
    display: block;
    position: relative;
    margin: 30px 0;
}

.play-btn {
    position: absolute;
    background: #22bbc0;
    line-height: 55px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    margin-left: -38px;
    margin-top: -38px;
}

.boxed-btn {
    background: #22bbc0;
    font-family: 'Zilla Slab', serif;
    font-weight: 700;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 50px;
}


/* Slider area */

.homepage-slides .owl-nav div {
    position: absolute;
    top: 50%;
    left: 8%;
    color: #fff;
    font-size: 20px;
    line-height: 40px;
    margin-top: -20px;
}

.homepage-slides .owl-nav div.owl-next {
    left: auto;
    right: 8%;
}

.promo-box {
    margin-top: 30px;
    text-align: center;
}

.promo-box h4 {
    font-size: 20px;
    margin-bottom: 20px;
}

.promo-icon {
    font-size: 25px;
    color: #0BBBC1;
    margin-bottom: 20px;
}

.space-90 {
    height: 90px;
}

.tile-gallery {
    position: relative;
    height: 675px;
    margin-left: 30px;
}

.tile-gallery img {
    border-radius: 5px;
    box-shadow: 3px 4px 9px #d4d4d4;
    position: relative;
    z-index: 1;
}

.tile-gallery img:nth-child(2) {
    position: absolute;
    right: 0;
    top: 50px;
    z-index: 2;
}

.tile-gallery img:nth-child(3) {
    position: absolute;
    left: 22px;
    bottom: 0;
    z-index: 3;
}


/* service-bg area */

.single-service-item {
    position: relative;
    padding-left: 100px;
    padding-top: 18px;
    padding-bottom: 18px;
    display: block;
    color: #888;
}

.service-icon {
    position: absolute;
    left: 0;
    top: 0;
    width: 85px;
    height: 100%;
    color: #22bbc0;
    font-size: 30px;
    text-align: center;
}

.single-service-item h2 {
    font-size: 20px;
}

.single-service-item:hover {
    background: #22bbc0;
    color: #fff;
}

.single-service-item:hover h2,
.single-service-item:hover .service-icon {
    color: #fff;
}

.single-service-item:hover:after {
    content: '';
    position: absolute;
    left: 100%;
    top: 0;
    width: 5000%;
    height: 100%;
    background: #22bbc0;
}

.service-bg {
    overflow: hidden;
    position: relative;
}

.service-bg:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 51.2%;
    height: 100%;
}

.service-icon-table {
    height: 100%;
    width: 100%;
    display: table;
}

.service-icon-table-cell {
    display: table-cell;
    vertical-align: middle;
}