/*Base css*/

@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i|Zilla+Slab:300,300i,400,400i,500,500i,600,600i,700,700i');
a:focus,
input:focus,
textarea:focus,
button:focus {
    outline: 0 solid;
}

input[type=submit],
button[type=submit] {
    width: auto;
    border: none;
    background: #22bac0;
    font-family: 'Zilla Slab', serif;
}

input,
button,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
}

a:link,
a:hover,
a:visited {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Zilla Slab', serif;
    margin: 0 0 15px;
    font-weight: 700;
    color: #000;
    line-height: 1.3;
}

body {
    font-family: 'Noto Sans', sans-serif;
    color: #888888;
    line-height: 1.8;
}

.overfix {
    overflow: hidden;
}


/* ================================================================ */

.breadcromb-area {
    padding-top: 180px;
    padding-bottom: 130px;
}

.breadcromb-area,
.breadcromb-area a {
    color: #fff;
}

.breadcromb-area h2 {
    color: #fff;
    font-size: 36px;
}

.breadcromb-area i.fa {
    padding: 0 7px;
}

.black-overlay h4 {
    color: #fff;
}

.service-icon-2 {
    font-size: 40px;
    margin-bottom: 15px;
}

.service-icon-2 {
    max-width: 50px;
}


/* ================================================================= */

.section-padding {
    padding: 80px 0;
}

.slide-bg-1 {
    background: url(../assets/img/about-action.jpg);
    background-size: cover;
    background-position: center;
}

.section-bg-1 {
    background: url(../assets/img/overlay-img-2.jpg);
    background-size: cover;
    background-position: left center;
}

.section-bg-2 {
    background: url(../assets/img/testimonial-bg.jpg);
}

.breadcromb-bg-1 {
    background: url(../assets/img/breadcrump-bg.jpg);
}

.service-bg:before {
    background-image: url(../assets/img/service-bg.jpg);
}

.hero-area {
    background-image: url(../assets/img/heroarea-bg.jpg);
}

.header-area a {
    color: #333;
    font-size: 16px;
    font-family: 'Zilla Slab', serif;
    font-weight: 700;
}

.header-area.header-absolute,
.header-area .search-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
}

.header-area.header-absolute a,
.header-area.header-absolute .search-icon {
    color: #fff;
}

.logo {
    font-size: 20px;
    font-weight: 700;
    margin-top: 13px;
}

.search-icon {
    margin-top: 15px;
    display: inline-block;
}

.mainmenu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.mainmenu li {
    display: inline-block;
    position: relative;
}

.mainmenu li a {
    display: block;
    padding: 16px;
}

.boxed-btn {
    background: #22bbc0;
    font-family: 'Zilla Slab', serif;
    font-weight: 700;
    padding: 10px 35px;
    display: inline-block;
    border-radius: 50px;
    color: #fff;
}

.black-overlay,
.black-overlay h1,
.black-overlay .boxed-btn {
    color: #fff;
}


/* .section-padding {
    background-size: cover;
    background-position: center;
} */

.black-overlay {
    position: relative;
    z-index: 2;
}

.black-overlay:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: -1;
    opacity: .7;
    background: cover;
}

.btn-area {
    margin-top: 36px;
}


/* Our Team section */

.team-list {
    margin-top: 70px;
}

.owl-carousel .owl-item .single-team-item img {
    display: inline-block;
    width: auto;
}

.single-team-item img {
    border-radius: 50%;
}

.single-team-item {
    background: #fbfbfb;
    padding: 30px;
    text-align: center;
}

.single-team-item h4 span {
    font-size: 14px;
    display: block;
    color: #888;
    font-weight: normal;
    font-family: 'Noto Sans', sans-serif;
    margin-top: 6px;
}

.single-team-item h4 {
    margin: 30px 0 25px;
}

.owl-dots div {
    height: 12px;
    width: 12px;
    background: #eee;
    border-radius: 50%;
    display: inline-block;
    margin: 4px;
}

.owl-dots div.active {
    background: #22bbc0;
}

.owl-dots {
    text-align: center;
    margin-top: 30px;
}


/* Footer Area Section */

.footer-area {
    background: #f5f5f5;
    padding: 80px 0;
}

.footer-area ul {
    font-family: 'Zilla slab', serif;
    font-weight: 700;
    padding: 0;
    margin: 0;
    list-style: none;
    line-height: 2;
    margin-top: 10px;
}

.footer-area ul a {
    color: #000;
}

.footer-area h3 {
    font-size: 20px;
    margin-top: 20px;
}

.social-links a {
    display: inline-block;
    height: 35px;
    width: 35px;
    border: 1px solid #333;
    margin-right: 2px;
    text-align: center;
    line-height: 34px;
    font-size: 16px;
    color: #000;
    border-radius: 50%;
}

.social-links a:hover {
    background: #22bbc0;
    border: #22bbc0;
    color: #fff;
}


/* ======================================================= */

.ticker-text {
    background: #2f2f2f;
    color: #fff;
    display: inline-block;
    padding: 5px 30px;
    border-radius: 50px;
    margin-bottom: 9px;
}

.single-team-item {
    box-shadow: 0 0 8px #f1f1f1;
    margin: 4px;
    border-radius: 5px;
    border: 1px solid transparent;
}

.single-team-item:hover {
    box-sizing: 0 0 0;
    border: 1px solid #22bbc0;
}