/*Base css*/

@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i|Zilla+Slab:300,300i,400,400i,500,500i,600,600i,700,700i');
a:focus,
input:focus,
textarea:focus,
button:focus {
    outline: 0 solid;
}

a:link,
a:hover,
a:visited {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Zilla Slab', serif;
    margin: 0 0 15px;
    font-weight: 700;
    color: #000;
    line-height: 1.3;
}

body {
    font-family: 'Noto Sans', sans-serif;
    color: #888888;
    line-height: 1.8;
}

.overfix {
    overflow: hidden;
}

.section-padding {
    padding: 80px 0;
}

.no-padding-top {
    padding-top: 0;
}

.slide-bg-1 {
    background: url(../assets/img/slide-01.jpg);
}

.section-bg-1 {
    background: url(../assets/img/overlay-img.jpg);
}

.section-bg-2 {
    background: url(../assets/img/testimonial-bg.jpg);
}

.service-bg:before {
    background-image: url(../assets/img/service-bg.jpg);
}

.header-area a {
    color: #333;
    font-size: 16px;
    font-family: 'Zilla Slab', serif;
    font-weight: 700;
}

.header-area.header-absolute,
.header-area .search-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
}

.header-area.header-absolute a,
.header-area.header-absolute .search-icon {
    color: #fff;
}

.logo {
    font-size: 20px;
    font-weight: 700;
    margin-top: 13px;
}

.search-icon {
    margin-top: 15px;
    display: inline-block;
}

.mainmenu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.mainmenu li {
    display: inline-block;
    position: relative;
}

.mainmenu li a {
    display: block;
    padding: 16px;
}

.single-slide-item {
    position: relative;
    z-index: 1;
    background-size: cover;
    background-position: center;
    background-color: #333;
}

.single-slide-item:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: -1;
    opacity: .66;
}

.owl-carousel .owl-item .slide-text img {
    display: inline-block;
    width: auto;
}

.slide-text {
    padding: 160px 0;
}

.slide-text,
.slide-text a {
    color: #fff;
    font-size: 16px;
}

.slide-text h2 {
    color: #fff;
    font-size: 60px;
}

.slide-text h2 span {
    font-weight: 300;
    font-style: italic;
}

.video-btn {
    display: block;
    position: relative;
    margin: 30px 0;
}

.play-btn {
    position: absolute;
    background: #22bbc0;
    line-height: 55px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    margin-left: -38px;
    margin-top: -38px;
}

.boxed-btn {
    background: #22bbc0;
    font-family: 'Zilla Slab', serif;
    font-weight: 700;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 50px;
}


/* Slider area */

.homepage-slides .owl-nav div {
    position: absolute;
    top: 50%;
    left: 8%;
    color: #fff;
    font-size: 20px;
    line-height: 40px;
    margin-top: -20px;
}

.homepage-slides .owl-nav div.owl-next {
    left: auto;
    right: 8%;
}

.promo-box {
    margin-top: 30px;
    text-align: center;
}

.promo-box h4 {
    font-size: 20px;
    margin-bottom: 20px;
}

.promo-icon {
    font-size: 25px;
    color: #0BBBC1;
    margin-bottom: 20px;
}

.space-90 {
    height: 90px;
}

.space-70 {
    height: 70px;
}

.tile-gallery {
    position: relative;
    height: 675px;
    margin-left: 30px;
}

.tile-gallery img {
    border-radius: 5px;
    box-shadow: 3px 4px 9px #d4d4d4;
    position: relative;
    z-index: 1;
}

.tile-gallery img:nth-child(2) {
    position: absolute;
    right: 0;
    top: 50px;
    z-index: 2;
}

.tile-gallery img:nth-child(3) {
    position: absolute;
    left: 22px;
    bottom: 0;
    z-index: 3;
}


/* service-bg area */

.single-service-item {
    position: relative;
    padding-left: 100px;
    padding-top: 18px;
    padding-bottom: 18px;
    display: block;
    color: #888;
}

.service-icon {
    position: absolute;
    left: 0;
    top: 0;
    width: 85px;
    height: 100%;
    color: #22bbc0;
    font-size: 30px;
    text-align: center;
}

.single-service-item h2 {
    font-size: 20px;
}

.single-service-item:hover {
    background: #22bbc0;
    color: #fff;
}

.single-service-item:hover h2,
.single-service-item:hover .service-icon {
    color: #fff;
}

.single-service-item:hover:after {
    content: '';
    position: absolute;
    left: 100%;
    top: 0;
    width: 5000%;
    height: 100%;
    background: #22bbc0;
}

.service-bg {
    overflow: hidden;
    position: relative;
}

.service-bg:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 51.2%;
    height: 100%;
}

.service-icon-table {
    height: 100%;
    width: 100%;
    display: table;
}

.service-icon-table-cell {
    display: table-cell;
    vertical-align: middle;
}


/* Skill Bar */

.single-skillbar {
    margin-top: 50px;
    text-align: center;
}

.single-skillbar h3 {
    margin-top: 25px;
}

.single-skillbar-inner {
    position: relative;
}

.skill-count-no {
    font-size: 48px;
    font-weight: 700;
    color: #333;
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    line-height: 50px;
    margin-top: -25px;
}

.black-overlay,
.black-overlay h1,
.black-overlay .boxed-btn {
    color: #fff;
}

.sectiob-padding {
    background-size: cover;
    background-position: center;
}

.black-overlay {
    position: relative;
    z-index: 2;
}

.black-overlay:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: -1;
    opacity: .7;
}

.btn-area {
    margin-top: 36px;
}


/* Portfolio Area */

.portfolio-bg-1 {
    background: url(../assets/img/portfolio-1.jpg);
}

.portfolio-bg-2 {
    background: url(../assets/img/portfolio-2.jpg);
}

.portfolio-bg-3 {
    background: url(../assets/img/portfolio-3.jpg);
}

.portfolio-bg-4 {
    background: url(../assets/img/portfolio-4.jpg);
}

.single-portfolio-item {
    height: 310px;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 2;
    margin: 15px 0;
    box-shadow: 4px 4px 5px #f1f1f1;
}

.portfolio-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    font-size: 20px;
    transition: .2s;
    opacity: 0;
    visibility: hidden;
}

.portfolio-hover:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: -1;
    opacity: .7;
}

.portfolio-hover-table {
    display: table;
    width: 100%;
    height: 100%;
}

.portfolio-hover-tablecell {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.portfolio-hover h4,
.portfolio-hover a {
    color: #fff;
}

.portfolio-hover h4 {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 0;
}

.single-portfolio-item.large {
    height: 650px;
}

.single-portfolio-item:hover .portfolio-hover {
    opacity: 1;
    visibility: visible;
}


/* Our Team section */

.team-list {
    margin-top: 70px;
}

.owl-carousel .owl-item .single-team-item img {
    display: inline-block;
    width: auto;
}

.single-team-item img {
    border-radius: 50%;
}

.single-team-item {
    background: #fbfbfb;
    padding: 30px;
    text-align: center;
}

.single-team-item h4 span {
    font-size: 14px;
    display: block;
    color: #888;
    font-weight: normal;
    font-family: 'Noto Sans', sans-serif;
    margin-top: 6px;
}

.single-team-item h4 {
    margin: 30px 0 25px;
}

.owl-dots div {
    height: 12px;
    width: 12px;
    background: #eee;
    border-radius: 50%;
    display: inline-block;
    margin: 4px;
}

.owl-dots div.active {
    background: #22bbc0;
}

.owl-dots {
    text-align: center;
    margin-top: 30px;
}


/* Testimonial Area */

.testimonial-list {
    margin-top: 70px;
}

.single-testimonial-item {
    background: #fff;
    color: #000;
    padding: 30px;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Zilla slab', serif;
    font-style: italic;
    text-align: center;
}

.testimonial-icon {
    font-size: 20px;
    color: #22babf;
    margin-bottom: 20px;
}

.section-bg-2 h2 {
    color: #fff;
}

.single-testimonial-item h5 {
    margin-top: 25px;
    margin-bottom: 10px;
}

.single-testimonial-item h5 span {
    display: block;
    font-weight: normal;
    font-style: normal;
    font-size: 12px;
    font-family: 'Noto Sans', sans-serif;
    margin-top: 4px;
}


/* Logo carousel section */

.owl-carousel .owl-item .single-logo-item img {
    width: auto;
    margin: 0 auto;
}

.single-logo-item {
    display: table;
    width: 100%;
    height: 70px;
}

.logo-item-inner {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}

.logo-carousel {
    margin: -30px 0;
}


/* Footer Area Section */

.footer-area {
    background: #f5f5f5;
    padding: 80px 0;
}

.footer-area ul {
    font-family: 'Zilla slab', serif;
    font-weight: 700;
    padding: 0;
    margin: 0;
    list-style: none;
    line-height: 2;
    margin-top: 10px;
}

.footer-area ul a {
    color: #000;
}

.footer-area h3 {
    font-size: 20px;
    margin-top: 20px;
}

.social-links a {
    display: inline-block;
    height: 35px;
    width: 35px;
    border: 1px solid #333;
    margin-right: 2px;
    text-align: center;
    line-height: 34px;
    font-size: 16px;
    color: #000;
    border-radius: 50%;
}

.social-links a:hover {
    background: #22bbc0;
    border: #22bbc0;
    color: #fff;
}