/*Base css*/

@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i|Zilla+Slab:300,300i,400,400i,500,500i,600,600i,700,700i');
a:focus,
input:focus,
textarea:focus,
button:focus {
    outline: 0 solid;
}

input[type=submit],
button[type=submit] {
    width: auto;
    border: none;
    background: #22bac0;
    font-family: 'Zilla Slab', serif;
}

input,
button,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
}

a:link,
a:hover,
a:visited {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Zilla Slab', serif;
    margin: 0 0 15px;
    font-weight: 700;
    color: #000;
    line-height: 1.3;
}

body {
    font-family: 'Noto Sans', sans-serif;
    color: #888888;
    line-height: 1.8;
}

.overfix {
    overflow: hidden;
}

.section-padding {
    padding: 80px 0;
}

.slide-bg-1 {
    background-size: cover;
    background-position: center;
}

.slide-bg-1 {
    background: url(../assets/img/slide-01.jpg);
}

.section-bg-1 {
    background: url(../assets/img/overlay-img.jpg);
}

.section-bg-1 {
    background: url(../assets/img/overlay-img-2.jpg);
}

.section-bg-2 {
    background: url(../assets/img/testimonial-bg.jpg);
}

.service-bg:before {
    background-image: url(../assets/img/service-bg.jpg);
}

.hero-area {
    background-image: url(../assets/img/heroarea-bg.jpg);
}

.header-area a {
    color: #333;
    font-size: 16px;
    font-family: 'Zilla Slab', serif;
    font-weight: 700;
}

.header-area.header-absolute,
.header-area .search-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
}

.header-area.header-absolute a,
.header-area.header-absolute .search-icon {
    color: #fff;
}

.logo {
    font-size: 20px;
    font-weight: 700;
    margin-top: 13px;
}

.search-icon {
    margin-top: 15px;
    display: inline-block;
}

.mainmenu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.mainmenu li {
    display: inline-block;
    position: relative;
}

.mainmenu li a {
    display: block;
    padding: 16px;
}

.single-slide-item {
    position: relative;
    z-index: 1;
    background-size: cover;
    background-position: center;
    background-color: #333;
}

.single-slide-item:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: -1;
    opacity: .66;
}

.owl-carousel .owl-item .slide-text img {
    display: inline-block;
    width: auto;
}

.slide-text {
    padding: 160px 0;
}

.slide-text,
.slide-text a {
    color: #fff;
    font-size: 16px;
}

.slide-text h2 {
    color: #fff;
    font-size: 60px;
}

.slide-text h2 span {
    font-weight: 300;
    font-style: italic;
}

.video-btn {
    display: block;
    position: relative;
    margin: 30px 0;
}

.play-btn {
    position: absolute;
    background: #22bbc0;
    line-height: 55px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    margin-left: -38px;
    margin-top: -38px;
}

.boxed-btn {
    background: #22bbc0;
    font-family: 'Zilla Slab', serif;
    font-weight: 700;
    padding: 10px 35px;
    display: inline-block;
    border-radius: 50px;
    color: #fff;
}


/* Slider area */

.homepage-slides .owl-nav div {
    position: absolute;
    top: 50%;
    left: 8%;
    color: #fff;
    font-size: 20px;
    line-height: 40px;
    margin-top: -20px;
}

.homepage-slides .owl-nav div.owl-next {
    left: auto;
    right: 8%;
}

.promo-box {
    margin-top: 30px;
    text-align: center;
}

.promo-box h4 {
    font-size: 20px;
    margin-bottom: 20px;
}

.promo-icon {
    font-size: 25px;
    color: #0BBBC1;
    margin-bottom: 20px;
}

.space-90 {
    height: 90px;
}

.tile-gallery {
    position: relative;
    height: 675px;
    margin-left: 30px;
}

.tile-gallery img {
    border-radius: 5px;
    box-shadow: 3px 4px 9px #d4d4d4;
    position: relative;
    z-index: 1;
}

.tile-gallery img:nth-child(2) {
    position: absolute;
    right: 0;
    top: 50px;
    z-index: 2;
}

.tile-gallery img:nth-child(3) {
    position: absolute;
    left: 22px;
    bottom: 0;
    z-index: 3;
}


/* Hero Area */

.hero-area {
    background-size: cover;
    background-position: center center;
    background-color: #333;
    padding-top: 180px;
    padding-bottom: 130px;
}

.hero-text {
    font-size: 16px;
    font-weight: 300;
    margin-top: 120px;
}

.hero-text h2 {
    color: #fff;
    font-size: 45px;
    line-height: 45px;
    margin-bottom: 22px;
}

.register-now-form {
    background: #fff;
    padding: 60px;
    border-top: 10px solid #22bac0;
}

.register-now-form h3 {
    margin-top: -10px;
    margin-bottom: 50px;
}

.register-now-form h3 span {
    color: #e3121d;
}

.register-now-form p {
    margin-bottom: 20px;
}

.register-now-form p:last-child {
    margin-bottom: 0;
}

.register-now-form input[type=submit] {
    width: 100%;
    font-weight: 700;
}


/* service-bg area */

.single-service-item {
    position: relative;
    padding-left: 100px;
    padding-top: 18px;
    padding-bottom: 18px;
    display: block;
    color: #888;
}

.service-icon {
    position: absolute;
    left: 0;
    top: 0;
    width: 85px;
    height: 100%;
    color: #22bbc0;
    font-size: 30px;
    text-align: center;
}

.single-service-item h2 {
    font-size: 20px;
}

.single-service-item:hover {
    background: #22bbc0;
    color: #fff;
}

.single-service-item:hover h2,
.single-service-item:hover .service-icon {
    color: #fff;
}

.single-service-item:hover:after {
    content: '';
    position: absolute;
    left: 100%;
    top: 0;
    width: 5000%;
    height: 100%;
    background: #22bbc0;
}

.service-bg {
    overflow: hidden;
    position: relative;
}

.service-bg:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 51.2%;
    height: 100%;
}

.service-icon-table {
    height: 100%;
    width: 100%;
    display: table;
}

.service-icon-table-cell {
    display: table-cell;
    vertical-align: middle;
}

.black-overlay,
.black-overlay h1,
.black-overlay .boxed-btn {
    color: #fff;
}

.sectiob-padding {
    background-size: cover;
    background-position: center;
}

.black-overlay {
    position: relative;
    z-index: 2;
}

.black-overlay:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: -1;
    opacity: .7;
}

.btn-area {
    margin-top: 36px;
}


/* Our Team section */

.team-list {
    margin-top: 70px;
}

.owl-carousel .owl-item .single-team-item img {
    display: inline-block;
    width: auto;
}

.single-team-item img {
    border-radius: 50%;
}

.single-team-item {
    background: #fbfbfb;
    padding: 30px;
    text-align: center;
}

.single-team-item h4 span {
    font-size: 14px;
    display: block;
    color: #888;
    font-weight: normal;
    font-family: 'Noto Sans', sans-serif;
    margin-top: 6px;
}

.single-team-item h4 {
    margin: 30px 0 25px;
}

.owl-dots div {
    height: 12px;
    width: 12px;
    background: #eee;
    border-radius: 50%;
    display: inline-block;
    margin: 4px;
}

.owl-dots div.active {
    background: #22bbc0;
}

.owl-dots {
    text-align: center;
    margin-top: 30px;
}


/* Logo carousel section */

.owl-carousel .owl-item .single-logo-item img {
    width: auto;
    margin: 0 auto;
}

.single-logo-item {
    display: table;
    width: 100%;
    height: 70px;
}

.logo-item-inner {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}

.logo-carousel {
    margin: -30px 0;
}


/* Footer Area Section */

.footer-area {
    background: #131313;
    padding: 80px 0;
}

.footer-area ul {
    font-family: 'Zilla slab', serif;
    font-weight: 700;
    padding: 0;
    margin: 0;
    list-style: none;
    line-height: 2;
    margin-top: 10px;
}

.footer-area ul a {
    color: #fff;
}

.footer-area h3 {
    color: #fff;
    font-size: 20px;
    margin-top: 20px;
}

.footer-area p {
    color: #fff;
}

.social-links a {
    display: inline-block;
    height: 35px;
    width: 35px;
    border: 1px solid #fff;
    margin-right: 2px;
    text-align: center;
    line-height: 34px;
    font-size: 16px;
    color: #fff;
    border-radius: 50%;
}

.social-links a:hover {
    background: #22bbc0;
    border: #22bbc0;
    color: #000;
}


/* ======================================================= */

.ticker-text {
    background: #2f2f2f;
    color: #fff;
    display: inline-block;
    padding: 5px 30px;
    border-radius: 50px;
    margin-bottom: 9px;
}

.mar-40 {
    margin: 80px 0;
}

.mar-50 {
    margin: 20px 0;
}

.service-box .service-icon {
    position: relative;
    text-align: center;
    width: 100%;
    height: 70px;
    line-height: 70px;
    font-size: 45px;
}

.service-box h3 {
    font-size: 20px;
    margin: 20px 0;
}

.service-box {
    margin-bottom: 50px;
    padding: 30px 20px;
    display: block;
}

.service-box:hover {
    background-color: #fafafa;
}

.single-team-item {
    box-shadow: 0 0 8px #f1f1f1;
    margin: 4px;
    border-radius: 5px;
    border: 1px solid transparent;
}

.single-team-item:hover {
    box-sizing: 0 0 0;
    border: 1px solid #22bbc0;
}

.margin-bottom-80 {
    margin-bottom: 80px;
}

.single-blog-box a {
    color: #22bac0;
}

.single-blog-box h3 {
    font-size: 18px;
}

.single-blog-box a i.fa {
    padding-left: 5px;
}

.single-blog-box {
    box-shadow: 0 0 5px #f1f1f1;
    padding: 27px;
}