/*Base css*/

@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i|Zilla+Slab:300,300i,400,400i,500,500i,600,600i,700,700i');
a:focus,
input:focus,
textarea:focus,
button:focus {
    outline: 0 solid;
}

a:link,
a:hover,
a:visited {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Zilla Slab', serif;
    margin: 0 0 15px;
    font-weight: 700;
}

body {
    font-family: 'Noto Sans', sans-serif;
    color: #888888;
}

.section-padding {
    padding: 80px 0;
}

.slide-bg-1 {
    background: url(img/slide-01.jpg);
}

.header-area a {
    color: #333;
    font-size: 16px;
    font-family: 'Zilla Slab', serif;
    font-weight: 700;
}

.header-area.header-absolute,
.header-area .search-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
}

.header-area.header-absolute a,
.search-icon {
    color: #fff;
}

.logo {
    font-size: 20px;
    font-weight: 700;
    margin-top: 13px;
}

.search-icon {
    margin-top: 15px;
    display: inline-block;
}

.mainmenu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.mainmenu li {
    display: inline-block;
    position: relative;
}

.mainmenu li a {
    display: block;
    padding: 16px;
}

.single-slide-item {
    position: relative;
    z-index: 1;
    background-size: cover;
    background-position: center;
    background-color: #333;
}

.single-slide-item:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: -1;
    opacity: .66;
}

.slide-text {
    padding: 160px 0;
}

.slide-text,
.slide-text a {
    color: #fff;
    font-size: 16px;
}

.slide-text h2 {
    font-size: 60px;
}

.slide-text h2 span {
    font-weight: 300;
    font-style: italic;
}

.video-btn {
    display: block;
    position: relative;
    margin: 30px 0;
}

.play-btn {
    position: absolute;
    background: #22bbc0;
    line-height: 55px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    margin-left: -38px;
    margin-top: -38px;
}

.boxed-btn {
    background: #22bbc0;
    font-family: 'Zilla Slab', serif;
    font-weight: 700;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 50px;
}